$iconUrl: '../images/search_icons.png';
$laoderUrl: '../images/loader.svg';
$greenColor: #18cc79;

.buyblo-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .8;
  z-index: 999;
  display: none;

  .icon {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
    padding: 0px;
    background-image: url($laoderUrl);
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.visible {
    display: block;
  }
}


.buyblo_container {
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

// bootstrap styles
.buyblo_row_col {
  margin-left: -15px;
  margin-right: -15px;
  display: block;
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

}

.buyblu_col_flt1,
.buyblu_col_flt2,
.buyblu_col_flt3,
.buyblu_col_flt4,
.buyblu_col_flt5,
.buyblu_col_flt6,
.buyblu_col_flt7,
.buyblu_col_flt8,
.buyblu_col_flt9,
.buyblu_col_flt10,
.buyblu_col_flt11,
.buyblu_col_flt12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.buyblu_col_flt1 {
  width: 8.33333%;
}

.buyblu_col_flt2 {
  width: 16.66667%;
}

.buyblu_col_flt3 {
  width: 25%;
}

.buyblu_col_flt4 {
  width: 33.33333%;
}

.buyblu_col_flt5 {
  width: 41.66667%;
}

.buyblu_col_flt6 {
  width: 50%;
}

.buyblu_col_flt7 {
  width: 58.33333%;
}

.buyblu_col_flt8 {
  width: 66.66667%;
}

.buyblu_col_flt9 {
  width: 75%;
}

.buyblu_col_flt12 {
  width: 100%;
}

// end bootstrap styles

.buyblo_search_form {
  margin: 0 auto;
  padding: 20px 0;

  fieldset, input, textarea, button {
    padding: 0;
    margin: 0 auto;
    border: 0;
    outline: none;
  }

  .buyblo_section_title {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0;
  }

  .buyblo_btn_green {
    line-height: 30px;
    background-color: $greenColor;
    border: 1px solid $greenColor;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    display: block;
    max-width: 100%;
    width: 100%;
    font-weight: normal;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: $greenColor;
    }
  }

  .buyblo_input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    padding-bottom: 30px;
    width: 100%;
  }

  #buyblo_filter_prices {
    .buyblo_input-group {
      padding-bottom: 21px;
    }

    .buyblo_min_price, .buyblo_max_price {
      padding: 0 5px 0 7px;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      line-height: 30px;
      min-height: 30px;
      box-shadow:none;
    }
  }

  .buyblo-search-input {
    background-color: #fff;
    padding-bottom: 20px;

    .buyblo_input_box {
      padding-bottom: 0 !important;
      position: relative;
      border-bottom: 1px solid #ccc;
      display: block;
      width: 100%;
      max-width: 100%;

      .buyblo_more_icon {
        right: 0px;
        position: absolute;
        top: 0px;
        line-height: 50px;
        font-size: 18px;
        width: 20px;
        height: 30px;

        background-image: url($iconUrl);
        background-repeat: no-repeat;
        background-position: -80px 4px;
      }

      .buyblo_active_category {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 20px);
        height: 100%;
        font-size: 14px;
        line-height: 30px;
        color: $greenColor;
        background-color: #fff;
        box-sizing: border-box;

        z-index: 4;
        padding-left: 0px;

        span.buyblo_category_label {
          top: 0;
          height: 100%;
          display: block;
          overflow: hidden;
          padding-left: 10px;
        }

        span.buyblo_remove {
          right: 0px;
          position: absolute;
          bottom: 0;
          line-height: 30px;
          cursor: pointer;
          padding: 0 5px;
          height: 30px;
          text-align: center;
          color: $greenColor;
          font-weight: bold;
          width: 20px;
          box-sizing: border-box;

          background-image: url($iconUrl);
          background-repeat: no-repeat;
          background-position: -100px 6px;

          .fa {
            font-size: 12px;
          }

        }
      }

      .buyblo_input-group-addon {
        box-shadow: none;
        border: 0;
        color: #444;
        font-size: 18px;
        padding: 0;
        height: 30px;
        width: 20px;
        padding-left: 0px;
        text-align: left;
        border: 0;
        border-bottom: 0 !important;

        white-space: nowrap;
        vertical-align: middle;
        display: inline-block;

        margin: 0 auto;
        max-width: 20px;
        overflow: hidden;
        box-sizing: border-box;

        background-image: url($iconUrl);
        background-repeat: no-repeat;
        background-position: 0 4px;

        &.buyblo_icon_folder {
          background-position: 0 4px;
        }
        &.buyblo_icon_tag {
          background-position: -20px 4px;
        }
        &.buyblo_icon_shop {
          background-position: -40px 4px;
        }
        &.buyblo_icon_search {
          background-position: -60px 4px;
        }

      }

      .buyblo_input_field {
        padding: 0;
        margin: 0 auto;
        border: 0;
        font-size: 14px;
        line-height: 30px;
        min-height: 30px;
        padding-left: 10px !important;
        padding-right: 20px;
        max-width: 100%;
        width: calc(100% - 20px) !important;
        display: inline-block;
        margin-left: -4px;
        box-sizing: border-box;
        box-shadow: none;

        z-index: 3;
        position: absolute;
        left: 24px;
        background: transparent;

        &:focus {
          background-color: #f1f1f1;
        }
      }
    }

    .buyblo_filters {
      min-height: 2px;
      position: absolute;
      margin-top: -3px;
      width: calc(100% - 30px);
      overflow: hidden;
      max-height: 20px;
      white-space: nowrap;

      .buyblo_filter {
        background: #d6d6d6;
        padding: 1px 3px;
        font-size: 9px;
        border-radius: 5px;
        padding-right: 15px;
        position: relative;
        display: inline-block;
        line-height: 12px;
        margin: 0px 2px 1px 2px;
        color: #626262;

        .buyblo_close_filter {
          width: 7px;
          height: 7px;
          position: absolute;
          right: 4px;
          top: 3px;
          filter: alpha(opacity=100);
          -moz-opacity: 1;
          opacity: 1;
          color: #626262;
          text-shadow: none;
          font-size: 11px;
          line-height: 6px;
          font-weight: bold;
          cursor: pointer;

          .fa {
            line-height: 8px;
            font-size: 9px;
            vertical-align: top;
          }

          &:hover {
            color: $greenColor;
          }
        }
      }
    }

    .buyblo_results_list {
      background-color: #fff;
      border: 1px solid #d6d6d6;
      border-top: 0;
      display: none;
      position: absolute;
      width: calc(100% - 30px);
      z-index: 100;
      border-top: 0;
      max-height: 311px;
      overflow: auto;

      .buyblo_list_label {
        padding: 5px 10px;
        line-height: 18px;
        display: block;
      }

      ul {
        padding: 0;
        margin: 0 auto;
        list-style: none;
        font-size: 14px;

        li {
          border-bottom: 1px solid #d6d6d6;
          background-color: #fff;
          padding: 5px 10px;
          margin:0 auto;
          cursor: pointer;
          line-height: 16px;
          position: relative;
          font-size: 14px;
          color: #333;

          &:last-child {
            border-bottom: 0;
          }

          &:hover, &.hover {
            color: $greenColor;
          }

          &.buyblo_selected_filter {
            color: $greenColor;
            display: none !important;

            &:after {
              position: absolute;
              content: "\f00d";
              font-family: FontAwesome;
              right: 5px;
              font-size: 10px;
              top: 50%;
              margin-top: -5px;
            }
          }

          &.buyblo-hidden-list-element {
            display: none;
          }

          &.disabled {
            color: #d6d6d6;
            cursor: auto;
            &:hover {
              color: #d6d6d6;
            }
          }

        }
      }
    }

    &.focus {
      .buyblo_filters, .buyblo_input-group-addon, .buyblo_input_field, .buyblo_category_label {
        background-color: #f1f1f1 !important;
      }
    }
  }

}

#ProductsContainer {
  position: relative;

  #ProductList {
    position: relative;
    width: 100%;
    padding: 30px 0;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: 1px solid $greenColor;
    background-color: #fafafa;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

    .loader {
      background-color: rgba(250, 250, 250, 0.71);
    }

    #media_container {
      min-height: 100px;

      .media_box {
        display: none;

        .popover {
          width: 400px;
          max-width: 400px;
          min-height: 10px;
          font-size: 12px;
          .popover-content {
            max-height: 200px;
            overflow: hidden;
            margin-bottom: 10px;
          }
        }
      }

      .media_plain {
        position: relative;

        .left {
          border-right: 1px solid #ccc;

          .upload_photo, .dz-default.dz-message {
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 2px dashed #ccc;
            color: #ccc;
            font-weight: 100;
            width: 200px;
            font-size: 16px;
            line-height: 60px;
            text-align: center;
            border-radius: 0;
            padding: 0;
            cursor: pointer;

            .fa {
              color: #ccc;
              line-height: 60px;
              font-size: 30px;
              padding-right: 20px;
            }

            &:hover {
              color: $greenColor;
              border-color: $greenColor;

              .fa {
                color: $greenColor;
              }
            }

          }

          .dz-error {
            display: none;
          }

          .dz-drag-hover {
            .dz-default.dz-message {
              color: $greenColor;
              border-color: $greenColor;

              .fa {
                color: $greenColor;
              }
            }
          }

        }

        .right {
          padding-top: 40px;
          .form-control {
            background-color: transparent;
            padding-left: 10px;
          }
          .focus {
            .form-control {
              background-color: #f1f1f1;
            }
          }
        }

        .dz-preview {
          .dz-details, .dz-image, .dz-success-mark, .dz-error-mark {
            display: none;
          }
        }

      }

      .media_crop {
        display: none;

        #cropImage {
          max-width: 100%;
        }

        .left {
          #previewImage {
            img {
              max-width: 100%;
            }
          }
        }

        .right {
          .green_title {
            color: $greenColor;
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 10px;
          }

          .btn_save {
            margin-top: 20px;
            margin-bottom: 20px;
          }

          .new_image {
            display: block;
            color: #1f8ae0;
            font-size: 13px;
            cursor: pointer;
          }

          .cropping_orig, .cropping_new {
            h4 {
              font-size: 14px;
              color: #777;
            }

            .sizes {
              margin-bottom: 20px;
              color: #777;

              span {
                display: inline-block;
                border: 1px solid #ccc;
                padding: 5px 10px;
                margin: 0 5px;
                color: #777;

                &:first-child {
                  margin-left: 0;
                }
              }

              &.big {
                font-size: 20px;
                font-weight: 100;
                span {
                  padding: 12px 20px;

                  small {
                    font-size: 16px;
                  }
                }
              }
            }
          }

          .cropping_info {
            p {
              font-size: 13px;
              color: #86cca6;
            }
          }

        }

      }

      .media_youtube, .media_instagram {
        .yt-videos, .insta-posts {
          .yt-video, .insta-post {
            max-width: 100%;
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;

            img {
              width: 100%;
            }

            &:hover {
              .yt-thumbnail-url {
                filter: alpha(opacity=50);
                -moz-opacity: 0.5;
                opacity: 0.5;
              }
              .yt-import, .insta-import {
                display: block;
              }
            }
          }
        }

        .load_more {
          display: none;
          a {
            color: #1f8ae0;
            cursor: pointer;
          }
        }
      }

    }
  }

  #ProductList {

    .buyblo_sort_container {
      text-align: right;

      .buyblo-dropdown {
        width: 100px;
        padding: 0;
        margin: 0 auto;
        margin-right: 0;
        margin-bottom: -20px;
        position: absolute;
        right: 0;
        z-index: 2;

        button {
          padding: 0;
          margin: 0 auto;
          border: 0;
          background: transparent;
          color: $greenColor;

          svg {
            fill: $greenColor;
          }
        }
        ul.buyblo-dropdown-menu {
          padding: 0;
          margin: 0 auto;
          width: 100px !important;
          min-width: 0;
          right: 0;
          left: auto;
          margin-top: 5px;
          font-size: 13px;
          background: #fff;
          border: 1px solid rgba(0, 0, 0, .15);
          border-radius: 4px;
          list-style: none;
          float: left;

          &.buyblo-hidden {
            display: none;
          }

          li {
            padding: 3px 5px;
            cursor: pointer;
            text-align: left;

            &:hover {
              color: $greenColor;
            }
          }
        }

      }
    }

    .buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-image img {
      filter: alpha(opacity=98);
      -moz-opacity: .98;
      opacity: .98;
    }

    .icon-section {
      position: absolute;
      left: 20%;
      width: 26px;
      height: 13px;
      overflow: hidden;
      bottom: -1px;
      top: -11px;
      z-index: 5;
      border-bottom: 1px solid #dedede;
      display: block;

      &:after {
        content: " ";
        width: 15px;
        height: 15px;
        position: absolute;
        top: 7px;
        left: 5px;
        -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

        background-color: #dedede;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    .slides-pagination {
      padding-bottom: 15px;
      color: $greenColor;
      text-align: center;
    }

    .owl-products-list {
      position: relative;

      .owl-stage-outer {
        overflow: hidden;
        vertical-align: top;
      }

      .owl-nav {
        width: 100%;
        position: absolute;
        top: 50%;
        height: 0;
        margin-top: -30px;

        .owl-next, .owl-prev {
          position: absolute;
          top: 0;
          font-size: 30px;
          line-height: 30px;
          color: #afafaf;
          cursor: pointer;

          &:hover {
            color: $greenColor;
          }
        }

        .owl-prev {
          left: -30px;
        }

        .owl-next {
          right: -30px;
        }
      }

      .owl-item {
        position: relative;
        vertical-align: top;
        display: inline-block;
        margin: 0 auto;
        padding: 0 10px;
      }
    }
  }
}

// --------------- from widget

.buyblo-box-product-list .buyblo-box-group-product {
  padding: 0 5px;
  width: 100%;
}

.buyblo-product-widget {
  width: 100%;
  position: relative;
}

.buyblo-wordpress .buyblo_container{
  width:100%;
  max-width:100%;
}

.buyblo-wordpress .buyblo_section_title{
  padding:0;
}

.buyblo-wordpress .buyblo_row_col .buyblu_col_flt8{
  width:100% !important;
}

.buyblo-wordpress .buyblo_container .buyblo_row_col{
  width:100%;
  max-width:100%;
}

.buyblo-wordpress .buyblo-product-widget {
  overflow: hidden;
  margin: 0 auto;
  max-width:90%;
}

.buyblo-wordpress #buyblo_filter_prices .buyblo_input-group input{
width:100%;
}

.buyblo-wordpress .buyblo-product-widget .buyblo-box-product-list {
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
  display: flex;
  position: relative;
}

.buyblo-wordpress .buyblo-product-widget .buyblo-box-product-list .buyblo-search-product {
  flex-basis: 20%;
  display: block;
  margin: 0 auto;
  width: calc(20% - 10px);
  max-width: calc(20% - 10px);
  min-width: calc(20% - 10px);
  padding: 0 5px !important;
  position: relative;
  background:transparent;
}

.buyblo-wordpress .buyblo-product-widget .buyblo-box-product-list .buyblo-box-group-product {
  max-width: 100%;
  overflow: hidden;
  background:transparent;
}

.buyblo-wordpress .buyblo-product-widget .buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-category,
.buyblo-wordpress .buyblo-product-widget .buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-title{
  white-space: normal;
}

.buyblo-wordpress .buyblo-product-widget .buyblo-box-product-list .buyblo-box-product-image {
  background-color: #fff !important;
}

.buyblo-navigation {
  position: absolute;
  top: 50%;
  height: 0;
  margin-top: -30px;
  display: none;

  .buyblo-navigation-prev, .buyblo-navigation-next {
    position: absolute;
    top: 0;
    font-size: 30px;
    line-height: 30px;
    color: #afafaf;
    cursor: pointer;
    padding: 0;
    margin: 0 auto;
    border: 0;
    background: none;
    box-shadow: none;

    &:hover {
      color: $greenColor;
      background-color: transparent;

      svg{
        fill:$greenColor;
      }
    }
  }

  .buyblo-navigation-prev {
    left: 0;
  }

  .buyblo-navigation-next {
    right: 0;
  }
}

.buyblo-wordpress .buyblo-navigation{
  display:block;
}

.buyblo-box-product-list .buyblo-box-group-product:hover .buyblo-box-settings {
  visibility: visible;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-top-label {
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  padding: 0 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #cbcbcb;
  text-align: center;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-top-label.buyblo-box-top-label-promo {
  background-color: $greenColor;
  color: #fff;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-image {
  width: 100%;
  position: relative;
  border: 0;
  margin: 10px 0;
  background-color: #000;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-image img {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  filter: alpha(opacity=99);
  -moz-opacity: 0.99;
  opacity: .99;

}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-title {
  padding: 0;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 100;
  height: 3.6em;
  overflow: hidden;
  color: #1f8ae0;
  text-decoration: none;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-title a::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-title a,
.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-title a:hover {
  text-decoration: none;
  color: #000;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-category {
  font-size: 13px;
  border-top: 1px solid #ededed;
  color: #aaa;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-price {
  font-size: 16px;
  color: #444;
  padding: 5px 0;
  border-top: 1px solid #ededed;
  font-weight: 300;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-price span {
  color: $greenColor;
  border: 0;
  padding: 0;
  margin: 0 auto;
  box-shadow: none;
  display: inline-block;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-price span sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.3em;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-parameters {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-parameters ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  border: none;
  box-shadow: none;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-parameters ul li {
  color: #777;
  font-size: 13px;
  line-height: 16px;
  border-top: 1px solid #ededed;
  padding: 5px 5px 5px 0;
  margin: 0 auto;
}

.buyblo-box-product-list .buyblo-box-group-product .buyblo-box-product-parameters ul li em {
  color: #000;
  font-style: normal;
}

.buyblo-navigation-slider {
  position: absolute;
  display: none;
  margin: 0 auto;
  padding: 0;
  height: 0;
  width: calc(100% - 50px);
  z-index: 2;
  left: 10px;
  top: 50%;
  margin-top: -20px;
}

.buyblo-navigation-slider .buyblo-navigation-left, .buyblo-navigation-slider .buyblo-navigation-right {
  position: absolute;
  padding: 0;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 20px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.19);
  text-align: center;
  border: 0;
  box-shadow: none;
  display: block;
}

.buyblo-navigation-slider .buyblo-navigation-right {
  left: auto;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .buyblo-box-product-list .buyblo-box-group-product {
    width: calc(100%);
    max-width: calc(100%);
    min-width: calc(100%);
  }

  .buyblo-product-widget {
    margin: 0 10px;
    margin-bottom: 20px;
    position: relative;
  }

  .buyblo-navigation-slider {
    display: block;
    left: -10px;
    width: calc(100% + 20px);
  }
}

// --------------- end from admin widget

.buyblo-box-settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  background-color: rgba(250, 250, 250, 0.70);
  visibility: hidden;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.buyblo-box-settings .buyblo-box-action-btn {
  position: absolute;
  top: 20%;
  left: 50%;
  display: block;
  width: 64px;
  height: 64px;
  margin-left: -32px;
}

.buyblo-box-settings .buyblo-box-action-btn > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-align: center;
  display: none;
  font-size: 10px;
  line-height: 14px;
  white-space: initial;

  .fa {
    font-size: 50px;
    text-align: center;
    line-height: 64px;
    height: 64px;
    display: block;
  }

  svg {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
  }
}

.buyblo-box-settings .buyblo-box-action-btn > span.buyblo-remove-product {
  color: red;
  svg {
    fill: red;
  }
}

.buyblo-box-settings .buyblo-box-action-btn > span.buyblo-add-product {
  color: $greenColor;
  svg {
    fill: $greenColor;
  }
}

.buyblo-box-settings .buyblo-box-action-btn > span.buyblo-added-product {
  color: $greenColor;
  svg {
    fill: $greenColor;
  }
}

.buyblo-box-settings .buyblo-box-action-btn > span.buyblo-recomended-product {
  color: #777777;
  svg {
    fill: #777777;
  }
}

.buyblo-box-settings .buyblo-box-action-btn > span.buyblo-too-much-products {
  color: #777777;
  svg {
    fill: #777777;
  }
}

.buyblo-box-settings .buyblo-box-action-btn > span.buyblo-too-many-categories {
  color: #777777;
  svg {
    fill: #777777;
  }
}


.buyblo-box-settings.buyblo-prod-visible {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;

  &.buyblo-prod-added {
    span.buyblo-added-product {
      display: block;
    }

    &:hover {
      span.buyblo-added-product {
        display: none;
      }
      span.buyblo-remove-product {
        display: block;
      }
    }
  }

  &.buyblo-prod-remove {
    span.buyblo-remove-product {
      display: block;
    }
  }

  &.buyblo-prod-add {
    span.buyblo-add-product {
      display: block;
    }
  }

}

.buyblo-box-settings.buyblo-prod-none {
  &:hover {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    visibility: visible;

    span.buyblo-add-product {
      display: block;
    }
  }

  &.buyblo-prod-blocked {
    &:hover {
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      opacity: 1;
      visibility: visible;

      span.buyblo-add-product {
        display: none;
      }
    }

    &.buyblo-too-much-products {
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      opacity: 1;
      visibility: visible;

      span.buyblo-too-much-products {
        display: block;
      }
    }

    &.buyblo-too-many-categories {
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      opacity: 1;
      visibility: visible;

      span.buyblo-too-many-categories {
        display: block;
      }
    }

  }
}

.buyblo-box-settings.recommended {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;

  span.buyblo-recomended-product {
    display: block;
  }

  &:hover {

    span.buyblo-add-product {
      display: block;
    }

    span.buyblo-recomended-product {
      display: none;
    }

  }
}
